body{
    letter-spacing: 1px;
}



.mainWraper{
font-family: 'Reggae One', cursive;
height: calc(100vh - 50px);
background-image: url('./images/background.png');


}

.mainWraper .swiper {
    width: 100%;
    height: 100%;
}

.mainWraper h2{
    margin: 0;
    font-size: 24px;
}
.mainWraper p {
    margin: 0;
    font-size: 16px;
}

.mainSwiper .swiper-slide .itemInfo{
    height: 0px;
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    top: 120px;
    padding: 0px 20px;
    margin-bottom: 25px;
    left: calc(100vw/-3);
    overflow: scroll;
}
.mainSwiper .swiper-slide-active{
    z-index: 1;
}
.mainSwiper .swiper-slide-next{
    z-index: 0;
}
.mainSwiper .swiper-slide-prev {
    z-index: 0;
}
.mainSwiper .swiper-slide-active .itemInfo {
    height: calc(100% - 200px);
    opacity: 1;
    width: calc(100vw - 40px);
    
}
.mainSwiper .swiper-slide-prev .itemName {
   text-align: start;

}
.mainSwiper .swiper-slide-next .itemName {
    text-align: end;

}



.mainSwiper .swiper-slide{
    top: 0px;
    font-size: 18px;
    height: 100%;
    padding: 0;

    
}

.swiper-slide .itemName {
    top: 0px;
    transition: width 0.3s ease-in;
    transition: font-size 0.3s ease;
    /* transition: all 0.5s; */
    margin-left: 16px;
    margin-right: 16px;
}

.swiper-slide-active .itemName {
    position: relative;
    width: 100vw;
    margin-left: calc(100vw/-3);
    text-align: center;
    font-family: 'Reggae One', cursive;
    text-transform: uppercase;
    top: 30px;
    font-size: 28px;
    
}
.swiper-slide .itemName::after {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 3px;
    height: 2px;
    width: 50%;
    transform: scale(0, 1);
    left: 25%;
    bottom: -10px;
    /* padding: 0 10px; */
    transition: 0.7s ease;
    transform-origin: center;

}
.swiper-slide-active .itemName::after{
    transform: scale(1, 1);
    /* width: 50%; */
 

}

.drinkItemWraper{
    display: flex;
    width: 100%;
    align-items: center;
    display: flex;
    gap: 15px;
}

.itemInfo::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.itemInfo {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}