body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  position: relative;
  height: 100%;

}
@font-face {
  font-family: "Reggae-one";
  src: url(fonts/ReggaeOne-Regular.ttf) format("truetype");
  unicode-range: U+00-FF, U+980-9FF;
}
@font-face {
  font-family: 'Gabriela', serif;
  src: url(fonts/Gabriela-Regular.ttf) format("truetype");
  unicode-range: U+0410-044F;
}
* {
  font-family: "Reggae-one", "Gabriela";
}